<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.kok.mapper.RequestInternMapper">
    <!--  일반 인턴 회원 지원 조회  -->
    <select id="selectRequestInternById">
        select c.company_name, ino.intern_notice_title, ri.request_intern_status
        from tbl_request_intern ri
                 join tbl_intern_notice ino
                      on ri.intern_notice_id = ino.id
                 join tbl_company c
                      on ino.company_id = c.user_id
        where member_id = #{id}
    </select>

    <!--    지원서 넣기-->
    <insert id="insertRequest" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_request_intern(intern_notice_id, member_id, member_alarm_setting_id, request_intern_member_name, request_intern_member_email, request_intern_member_phone, request_intern_member_url, file_id)
        values(#{internNoticeId}, #{memberId}, #{memberAlarmSettingId}, #{requestInternMemberName}, #{requestInternMemberEmail}, #{requestInternMemberPhone}, #{requestInternMemberUrl}, #{fileId})
    </insert>

    <!--  지원 목록 조회  -->
    <select id="selectRequestById">
        select r.member_id,
               c.company_name,
               e.evaluation_avg_score,
               n.intern_notice_title,
               r.request_intern_status,
               r.created_datetime
        from tbl_company c
                 join tbl_intern_notice n
                      on c.user_id = n.company_id
                 join tbl_request_intern r
                      on n.id = r.intern_notice_id
                 left join tbl_evaluation e
                           on r.id = e.request_experience_id
        where r.member_id = #{id}
        order by created_datetime desc
        limit 3
    </select>

    <!--  지원 목록 조회  -->
    <select id="selectRequestCountById">
        select count(*)
        from tbl_company c
                 join tbl_intern_notice n
                      on c.user_id = n.company_id
                 join tbl_request_intern r
                      on n.id = r.intern_notice_id
                 left join tbl_evaluation e
                           on r.id = e.request_experience_id
        where r.member_id = #{id}
    </select>

    <!--  인턴 지원 내역 조회  -->
    <select id="selectRequestInternByUserId">
        SELECT ri.id,
        c.user_id,
        c.company_name,
        ino.intern_notice_title,
        ri.request_intern_status,
        ri.created_datetime,
        ri.request_intern_member_name,
        ri.request_intern_member_email,
        ri.request_intern_member_phone,
        ri.request_intern_member_url,
        ri.file_id
        FROM tbl_request_intern ri
        JOIN tbl_intern_notice ino ON ri.intern_notice_id = ino.id
        JOIN tbl_company c ON ino.company_id = c.user_id
        WHERE ri.member_id = #{id}
        AND ri.created_datetime >= NOW() - INTERVAL '3 MONTH'
        <if test="internId != null">
            AND ri.id = #{internId}
        </if>
    </select>

    <!--    지원서 개수 조회-->
    <select id="countRequest">
        select count(*)
        from tbl_request_intern
        where intern_notice_id=#{internNoticeId}
          and member_id=#{memberId}
          and request_intern_active='active'
    </select>
</mapper>